Repository alex-kim-dev/github-jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: add test and deploy workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@6a07639a2aa87f96278230c91ea5ebde92765142 🚀
  assets/favicon-32x32.png
  favicon-32x32.png
  index.html
  js/main.73386184bea04acc7f46.bundle.js
  js/main.73386184bea04acc7f46.bundle.js.LICENSE.txt
  js/main.73386184bea04acc7f46.bundle.js.map
  js/runtime.34c2cf19155951e8378e.bundle.js
  js/runtime.34c2cf19155951e8378e.bundle.js.map
Due: eslint --fix

fix: baseurl appended 2 times
  config/webpack.prod.js
  src/App.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@bc46454a580acbdfe5a9d463b683771fdc45c73f 🚀
  index.html
  js/main.0388ced49f830d889712.bundle.js
  js/main.0388ced49f830d889712.bundle.js.LICENSE.txt
  js/main.0388ced49f830d889712.bundle.js.map
  js/main.73386184bea04acc7f46.bundle.js
  js/main.73386184bea04acc7f46.bundle.js.map
Due: eslint --fix

Create README.md
  README.md
Due: prettier --write

chore: update deps
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@4acf16b4232b518e1f503980be2f8fd2735c9c39 🚀
  index.html
  js/main.0388ced49f830d889712.bundle.js
  js/main.0388ced49f830d889712.bundle.js.map
  js/main.d29a3148bc49e01449b3.bundle.js
  js/main.d29a3148bc49e01449b3.bundle.js.LICENSE.txt
  js/main.d29a3148bc49e01449b3.bundle.js.map
Due: eslint --fix

refactor: mock api requests
  package-lock.json
  package.json
  src/actions.js
  src/apiMock/browser.js
  src/apiMock/data.json
  src/apiMock/handlers.js
  src/components/pages/Home/Card.jsx
  src/components/pages/Position/Content.jsx
  src/index.jsx
  src/utils.js
  static/logos/blogr.svg
  static/logos/coffeeroasters.svg
  static/logos/creative.svg
  static/logos/crowdfund.svg
  static/logos/maker.svg
  static/logos/mastercraft.svg
  static/logos/officelite.svg
  static/logos/pod.svg
  static/logos/pomodoro.svg
  static/logos/scoot.svg
  static/logos/typemaster.svg
  static/logos/vector.svg
  static/mockServiceWorker.js
Due: eslint --fix, prettier --write

refactor: add filtering for api
  config/webpack.common.js
  package-lock.json
  package.json
  src/apiMock/handlers.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@c410503925e04b83e7e76a1ccd44e09c9f04c59f 🚀
  assets/favicon-32x32.png
  assets/logos/blogr.svg
  assets/logos/coffeeroasters.svg
  assets/logos/creative.svg
  assets/logos/crowdfund.svg
  assets/logos/maker.svg
  assets/logos/mastercraft.svg
  assets/logos/officelite.svg
  assets/logos/pod.svg
  assets/logos/pomodoro.svg
  assets/logos/scoot.svg
  assets/logos/typemaster.svg
  assets/logos/vector.svg
  index.html
  js/main.1912b4217ae412378e93.bundle.js
  js/main.1912b4217ae412378e93.bundle.js.LICENSE.txt
  js/main.1912b4217ae412378e93.bundle.js.map
  js/main.d29a3148bc49e01449b3.bundle.js
  js/main.d29a3148bc49e01449b3.bundle.js.map
  mockServiceWorker.js
Due: eslint --fix

refactor: switch to redux, basic case with loading job list
  .eslintrc.yml
  package-lock.json
  package.json
  src/App.jsx
  src/actions.js
  src/apiMock/handlers.js
  src/components/common/Button.jsx
  src/components/layout/Header.jsx
  src/components/pages/Home/Home.jsx
  src/components/pages/Home/Search.jsx
  src/components/pages/Position/Content.jsx
  src/components/pages/Position/Cta.jsx
  src/components/pages/Position/Heading.jsx
  src/components/pages/Position/Position.jsx
  src/hooks.js
  src/index.jsx
  src/store.jsx
  src/store/index.js
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/store/ui/ui.slice.js
  src/utils.js
  src/utils/constants/statuses.js
  src/utils/constants/themes.js
Due: eslint --fix, prettier --write

refactor: remove job data transform
  src/components/pages/Home/Card.jsx
  src/components/pages/Home/Grid.jsx
  src/components/pages/Home/Home.jsx
  src/components/pages/Position/Content.jsx
  src/components/pages/Position/Cta.jsx
  src/components/pages/Position/Heading.jsx
  src/components/pages/Position/Position.jsx
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/utils.js
Due: eslint --fix

fix: load more
  src/components/pages/Home/Home.jsx
  src/store/jobsList/jobList.slice.js
  src/utils.js
Due: eslint --fix

fix: search with parameters through form or url
  src/components/pages/Home/Home.jsx
  src/components/pages/Home/Search.jsx
  src/store/jobsList/jobList.slice.js
  src/utils.js
Due: eslint --fix

fix: fetching job from position page
  src/components/pages/Position/Position.jsx
Due: eslint --fix

fix: home link now resets the search
  src/components/layout/Header.jsx
  src/store/jobsList/jobList.slice.js
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@36ec5e7408c1251084d088565428b8b73532f576 🚀
  index.html
  js/main.1912b4217ae412378e93.bundle.js
  js/main.1912b4217ae412378e93.bundle.js.map
  js/main.ea6400d22f46a1ebbbd3.bundle.js
  js/main.ea6400d22f46a1ebbbd3.bundle.js.LICENSE.txt
  js/main.ea6400d22f46a1ebbbd3.bundle.js.map
Due: eslint --fix

fix: msw worker not loading in prod
  src/index.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@5fa66280483b91ad9b1d4a94a2979bdb7470a331 🚀
  index.html
  js/main.c30488b7f94efe7e497e.bundle.js
  js/main.c30488b7f94efe7e497e.bundle.js.LICENSE.txt
  js/main.c30488b7f94efe7e497e.bundle.js.map
  js/main.ea6400d22f46a1ebbbd3.bundle.js
  js/main.ea6400d22f46a1ebbbd3.bundle.js.map
Due: eslint --fix

fix: routing for github pages
  src/App.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@c41686b8a69858030dc1df4fa5d35bc87981729e 🚀
  index.html
  js/main.b1078f0e18441b42c8e1.bundle.js
  js/main.b1078f0e18441b42c8e1.bundle.js.LICENSE.txt
  js/main.b1078f0e18441b42c8e1.bundle.js.map
  js/main.c30488b7f94efe7e497e.bundle.js
  js/main.c30488b7f94efe7e497e.bundle.js.map
Due: eslint --fix

fix: remove hash router baseurl
  src/App.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@bb6ea70025b5c32d9383d49301a30754ce8f97b2 🚀
  index.html
  js/main.b1078f0e18441b42c8e1.bundle.js
  js/main.b1078f0e18441b42c8e1.bundle.js.map
  js/main.f6808799c3641922df62.bundle.js
  js/main.f6808799c3641922df62.bundle.js.LICENSE.txt
  js/main.f6808799c3641922df62.bundle.js.map
Due: eslint --fix

fix: async await not working
  .babelrc
  .browserslistrc
Due: none

refactor: convert promises to async await syntax
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
Due: eslint --fix

refactor: capitalize constants
  src/App.jsx
  src/apiMock/handlers.js
  src/components/common/Button.jsx
  src/components/layout/Header.jsx
  src/components/pages/Home/Home.jsx
  src/components/pages/Home/Search.jsx
  src/components/pages/Position/Content.jsx
  src/components/pages/Position/Position.jsx
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/store/ui/ui.slice.js
  src/theme.js
  src/utils/constants/statuses.js
  src/utils/constants/themes.js
Due: eslint --fix

refactor: add jobs api service
  src/components/pages/Home/Search.jsx
  src/components/pages/Position/Position.jsx
  src/services/api/JobsAPI.js
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/utils.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,yml,yaml,md}
