Repository alex-kim-dev/github-jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx}': eslint --fix
'*.{json,yml,yaml,md}': prettier --write

refactor: index, App, move global styles to AppContainer
  package-lock.json
  package.json
  src/App.jsx
  src/components/layout/AppContainer/AppContainer.jsx
  src/components/layout/Wrapper/Wrapper.jsx
  src/components/layout/index.js
  src/index.jsx
Due: eslint --fix, prettier --write

refactor: move load more btn to JobList, hide in last page
  src/apiMock/handlers.js
  src/components/layout/Container/Container.jsx
  src/views/Home/HomePage/HomePage.jsx
  src/views/Home/JobList/JobList.jsx
Due: eslint --fix

fix: inappropriate feedback messages
  src/components/content/Feedback/Feedback.jsx
  src/components/content/index.js
  src/views/Home/HomePage/HomePage.jsx
  src/views/Home/JobList/JobList.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

fix: job page showing fetched job every time
  src/components/layout/Header/Header.jsx
  src/store/index.js
  src/store/job/job.slice.js
  src/store/jobs/jobs.slice.js
  src/views/Home/HomePage/HomePage.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

fix: add 404 page
  src/App.jsx
  src/views/NotFound/NotFoundPage.jsx
  src/views/NotFound/index.js
Due: eslint --fix

refactor: clean up home page component
  src/views/Home/HomePage/HomePage.jsx
Due: eslint --fix

refactor: search form
  src/components/layout/Separator/Separator.jsx
  src/components/layout/index.js
  src/views/Home/SearchForm/SearchForm.jsx
Due: eslint --fix

refactor: add job prop type
  src/utils/types/index.js
  src/views/Home/JobCard/JobCard.jsx
  src/views/Home/JobList/JobList.jsx
Due: eslint --fix

fix: logotypes
  src/components/content/Img/Img.jsx
  src/components/content/Logo/Logo.jsx
  src/components/content/index.js
  src/views/Home/JobCard/JobCard.jsx
  src/views/Job/JobHeading/JobHeading.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

refactor: job heading
  src/views/Job/JobHeading/JobHeading.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

fix: job content
  src/utils/helpers/index.js
  src/views/Job/JobContent/JobContent.jsx
  src/views/Job/JobHeading/JobHeading.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

fix: job summary & cta
  src/views/Job/JobCta/JobCta.jsx
  src/views/Job/JobPage/JobPage.jsx
  src/views/Job/JobSummary/JobSummary.jsx
Due: eslint --fix

fix: batch small fixes
  src/components/controls/Button/Button.jsx
  src/components/layout/Header/Header.jsx
  src/store/jobs/jobs.slice.js
  src/store/ui/ui.slice.js
  src/views/Job/JobCta/JobCta.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

chore: add wdyr and test some components
  .babelrc
  .babelrc.js
  .eslintrc.yml
  package-lock.json
  package.json
  src/index.jsx
  src/utils/helpers/wdyr.js
  src/views/Home/JobList/JobList.jsx
  src/views/Home/SearchForm/SearchForm.jsx
Due: eslint --fix, prettier --write

refactor: capitalize constants
  src/App.jsx
  src/apiMock/handlers.js
  src/components/common/Button.jsx
  src/components/layout/Header.jsx
  src/components/pages/Home/Home.jsx
  src/components/pages/Home/Search.jsx
  src/components/pages/Position/Content.jsx
  src/components/pages/Position/Position.jsx
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/store/ui/ui.slice.js
  src/theme.js
  src/utils/constants/statuses.js
  src/utils/constants/themes.js
Due: eslint --fix

refactor: convert promises to async await syntax
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
Due: eslint --fix

fix: async await not working
  .babelrc
  .browserslistrc
Due: none

refactor: add jobs api service
  src/components/pages/Home/Search.jsx
  src/components/pages/Position/Position.jsx
  src/services/api/JobsAPI.js
  src/store/job/job.slice.js
  src/store/jobsList/jobList.slice.js
  src/utils.js
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@edb77b005c640757058a7cb647071f08f7d8a8a2 🚀
  index.html
  js/main.64a868c5243909bd089c.bundle.js
  js/main.64a868c5243909bd089c.bundle.js.LICENSE.txt
  js/main.64a868c5243909bd089c.bundle.js.map
  js/main.f6808799c3641922df62.bundle.js
  js/main.f6808799c3641922df62.bundle.js.map
  js/runtime.13eefe41f6403df1ed70.bundle.js
  js/runtime.13eefe41f6403df1ed70.bundle.js.map
  js/runtime.34c2cf19155951e8378e.bundle.js
  js/runtime.34c2cf19155951e8378e.bundle.js.map
  mockServiceWorker.js
Due: eslint --fix

test: set up jest with react testing library
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yml
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/__mocks__/file.mock.js
  src/__mocks__/jobsApi/browser.js
  src/__mocks__/jobsApi/data.json
  src/__mocks__/jobsApi/handlers.js
  src/index.jsx
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.jsx
Due: eslint --fix, prettier --write

test: set up home page test
  package-lock.json
  package.json
  src/store/jobs/jobs.slice.js
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.test.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix, prettier --write

refactor: export store config as a function
  src/index.jsx
  src/store/index.js
  src/utils/helpers/test-utils.jsx
Due: eslint --fix

fix: a11y issues in components related to home page
  src/components/content/Feedback/Feedback.jsx
  src/components/controls/Button/Button.jsx
  src/components/controls/Checkbox/Checkbox.jsx
  src/components/controls/TextField/TextField.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

test: add home page first load tests
  src/services/api/JobsAPI.js
  src/store/jobs/jobs.slice.js
  src/views/Home/HomePage/HomePage.test.jsx
Due: eslint --fix
