Repository alex-kim-dev/github-jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests, prettier --write

build: update caniuse db
  package-lock.json
Due: prettier --write

build: remove fonts from the bundle
  config/webpack.common.js
Due: eslint --fix, jest --findRelatedTests

build: remove react profiling and turn on mangling
  config/webpack.prod.js
Due: eslint --fix, jest --findRelatedTests

build: split chunks
  config/webpack.common.js
  config/webpack.prod.js
Due: eslint --fix, jest --findRelatedTests

build: update webpack config
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix, jest --findRelatedTests, prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@b7fe7cecb736db37855840a0cff9dc35107ea406 🚀
  assets/0896b1243d.woff
  assets/0e261449c5.svg
  assets/429cf4f187.woff2
  assets/439c5055f5.svg
  assets/527b53d36b.svg
  assets/694f7e80e4.woff
  assets/7b769ecf9d.svg
  assets/7f3626b5a8.woff2
  assets/8c0b644930.svg
  assets/d059acf209.woff2
  assets/dc33c1e867.woff2
  assets/e3e8925e7c.woff2
  assets/ea1134f142.svg
  assets/f3307602ee.svg
  assets/fa9228c974.woff
  assets/ff94afab18.woff2
  index.html
  js/apiMock.ede197b743.bundle.js
  js/apiMock.ede197b743.bundle.js.LICENSE.txt
  js/apiMock.ede197b743.bundle.js.map
  js/main.0de320d6e6c5271bf5c6.bundle.js
  js/main.0de320d6e6c5271bf5c6.bundle.js.map
  js/main.1f016577f6.bundle.js
  js/main.1f016577f6.bundle.js.LICENSE.txt
  js/main.1f016577f6.bundle.js.map
  js/runtime.00bc17a17a.bundle.js
  js/runtime.00bc17a17a.bundle.js.map
  js/runtime.13eefe41f6403df1ed70.bundle.js
  js/runtime.13eefe41f6403df1ed70.bundle.js.map
  mockServiceWorker.js
Due: eslint --fix, jest --findRelatedTests

fix: baseurl ending slash
  config/webpack.dev.js
  src/siteMeta.js
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ Alex-K1m/github-jobs@d82abf551435b378355965d2340c828255b6d8e4 🚀
  index.html
  js/main.055bcf7bc5.bundle.js
  js/main.055bcf7bc5.bundle.js.LICENSE.txt
  js/main.055bcf7bc5.bundle.js.map
  js/main.1f016577f6.bundle.js
  js/main.1f016577f6.bundle.js.map
  js/runtime.00bc17a17a.bundle.js
  js/runtime.00bc17a17a.bundle.js.map
  js/runtime.0beb54058a.bundle.js
  js/runtime.0beb54058a.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

fix: wrong service worker url
  config/webpack.dev.js
  src/index.jsx
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ Alex-K1m/github-jobs@678f75efe03004c8ce8460baa48935671798ba48 🚀
  index.html
  js/main.055bcf7bc5.bundle.js
  js/main.055bcf7bc5.bundle.js.map
  js/main.b8489414ad.bundle.js
  js/main.b8489414ad.bundle.js.LICENSE.txt
  js/main.b8489414ad.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

chore: a few fixes for current update
  .husky/.gitignore
  package-lock.json
  package.json
  static/mockServiceWorker.js
Due: eslint --fix, jest --findRelatedTests, prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@19d7dc19347254ab9bc90e7c54dba6f599547618 🚀
  index.html
  js/apiMock.7e603fff47.bundle.js
  js/apiMock.7e603fff47.bundle.js.LICENSE.txt
  js/apiMock.7e603fff47.bundle.js.map
  js/apiMock.ede197b743.bundle.js
  js/apiMock.ede197b743.bundle.js.map
  js/main.b8489414ad.bundle.js
  js/main.b8489414ad.bundle.js.map
  js/main.f227ce108a.bundle.js
  js/main.f227ce108a.bundle.js.LICENSE.txt
  js/main.f227ce108a.bundle.js.map
  js/runtime.0beb54058a.bundle.js
  js/runtime.0beb54058a.bundle.js.map
  js/runtime.0fec5b15b2.bundle.js
  js/runtime.0fec5b15b2.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ Alex-K1m/github-jobs@7d84b6d33d016ed6bac2dd3588858d267c5ef945 🚀
  index.html
  js/apiMock.5fd9f14516.bundle.js
  js/apiMock.5fd9f14516.bundle.js.LICENSE.txt
  js/apiMock.5fd9f14516.bundle.js.map
  js/apiMock.7e603fff47.bundle.js
  js/apiMock.7e603fff47.bundle.js.map
  js/main.238c4dd98c.bundle.js
  js/main.238c4dd98c.bundle.js.LICENSE.txt
  js/main.238c4dd98c.bundle.js.map
  js/main.f227ce108a.bundle.js
  js/main.f227ce108a.bundle.js.map
  js/runtime.0fec5b15b2.bundle.js
  js/runtime.0fec5b15b2.bundle.js.map
  js/runtime.57e0700140.bundle.js
  js/runtime.57e0700140.bundle.js.map
  mockServiceWorker.js
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ Alex-K1m/github-jobs@7ef1bc7c41474d8ee5d5c6ea91e6378dcafbde33 🚀
  assets/0896b1243d.woff
  assets/34246fe3db.woff
  assets/3ece96cfc2.woff
  assets/429cf4f187.woff2
  assets/43e0c4e0f1.woff2
  assets/694f7e80e4.woff
  assets/7d061a57b3.woff2
  assets/7e965346bd.woff2
  assets/7f3626b5a8.woff2
  assets/92be7b890b.woff2
  assets/a7fbb29cbb.woff2
  assets/acaec50d81.woff2
  assets/d059acf209.woff2
  assets/dc33c1e867.woff2
  assets/e3e8925e7c.woff2
  assets/f33aa3c3a9.woff
  assets/fa9228c974.woff
  assets/ff94afab18.woff2
  index.html
  js/apiMock.5fd9f14516.bundle.js
  js/apiMock.5fd9f14516.bundle.js.map
  js/apiMock.c11085c263.bundle.js
  js/apiMock.c11085c263.bundle.js.LICENSE.txt
  js/apiMock.c11085c263.bundle.js.map
  js/main.238c4dd98c.bundle.js
  js/main.238c4dd98c.bundle.js.map
  js/main.51cd2d4f2b.bundle.js
  js/main.51cd2d4f2b.bundle.js.LICENSE.txt
  js/main.51cd2d4f2b.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

chore: update mock service worker
  package-lock.json
  static/mockServiceWorker.js
Due: eslint --fix, jest --findRelatedTests, prettier --write

build: change github username
  README.md
  package.json
  src/siteMeta.js
Due: eslint --fix, jest --findRelatedTests, prettier --write

Deploying to gh-pages from @ alex-kim-dev/github-jobs@a70bf1189fb9fa3a4d6f03e6691579caee6e7841 🚀
  index.html
  js/main.51cd2d4f2b.bundle.js
  js/main.51cd2d4f2b.bundle.js.map
  js/main.9f81e3a5de.bundle.js
  js/main.9f81e3a5de.bundle.js.LICENSE.txt
  js/main.9f81e3a5de.bundle.js.map
  js/runtime.57e0700140.bundle.js
  js/runtime.57e0700140.bundle.js.map
  js/runtime.66d76a2465.bundle.js
  js/runtime.66d76a2465.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

chore: change babel eslint parser
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

build: update webpack config for new wds version
  .browserslistrc
  config/webpack.dev.js
Due: eslint --fix, jest --findRelatedTests

chore: add browserslist config for testing
  .browserslistrc
Due: none

Deploying to gh-pages from @ alex-kim-dev/github-jobs@cf39362c62ad89c1c067181cf68e9c2712473726 🚀
  index.html
  js/apiMock.25368ff618.bundle.js
  js/apiMock.25368ff618.bundle.js.LICENSE.txt
  js/apiMock.25368ff618.bundle.js.map
  js/apiMock.c11085c263.bundle.js
  js/apiMock.c11085c263.bundle.js.map
  js/main.07282f5921.bundle.js
  js/main.07282f5921.bundle.js.LICENSE.txt
  js/main.07282f5921.bundle.js.map
  js/main.9f81e3a5de.bundle.js
  js/main.9f81e3a5de.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ alex-kim-dev/github-jobs@33cd45d73eb01cad4af1da8aefe2439f1423f946 🚀
  index.html
  js/apiMock.25368ff618.bundle.js
  js/apiMock.25368ff618.bundle.js.map
  js/apiMock.8a20602fa0.bundle.js
  js/apiMock.8a20602fa0.bundle.js.LICENSE.txt
  js/apiMock.8a20602fa0.bundle.js.map
  js/main.07282f5921.bundle.js
  js/main.07282f5921.bundle.js.map
  js/main.0802755551.bundle.js
  js/main.0802755551.bundle.js.LICENSE.txt
  js/main.0802755551.bundle.js.map
  js/runtime.66d76a2465.bundle.js.map
  mockServiceWorker.js
Due: eslint --fix, jest --findRelatedTests

docs: update depfu link
  README.md
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/github-jobs@357a56e33f3e46f1e5bce18d1b6f4a166b4ba3ce 🚀
  index.html
  js/main.0802755551.bundle.js
  js/main.0802755551.bundle.js.map
  js/main.32a3fa6464.bundle.js
  js/main.32a3fa6464.bundle.js.LICENSE.txt
  js/main.32a3fa6464.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ alex-kim-dev/github-jobs@d737075e25adc88ad8a6a9af1b0ad44dbfb4af53 🚀
  index.html
  js/apiMock.8a20602fa0.bundle.js
  js/apiMock.8a20602fa0.bundle.js.map
  js/apiMock.c40f893cff.bundle.js
  js/apiMock.c40f893cff.bundle.js.LICENSE.txt
  js/apiMock.c40f893cff.bundle.js.map
  js/main.32a3fa6464.bundle.js
  js/main.32a3fa6464.bundle.js.map
  js/main.3a157d7e2a.bundle.js
  js/main.3a157d7e2a.bundle.js.LICENSE.txt
  js/main.3a157d7e2a.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

Deploying to gh-pages from @ alex-kim-dev/github-jobs@16e25fd4fed321f3188c79ece22f14d26b560e33 🚀
  index.html
  js/main.3a157d7e2a.bundle.js.map
  js/runtime.66d76a2465.bundle.js
  js/runtime.66d76a2465.bundle.js.map
  js/runtime.c5db3788c9.bundle.js
  js/runtime.c5db3788c9.bundle.js.map
Due: eslint --fix, jest --findRelatedTests

ci: add codeql scanning
  .github/workflows/codeql.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jest --findRelatedTests: any of: *.{js,jsx}
  prettier --write: any of: *.{json,yml,yaml,md}
