Repository alex-kim-dev/github-jobs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx}': eslint --fix
'*.{json,yml,yaml,md}': prettier --write

test: set up app test
  src/__mocks__/jobsApi/browser.js
  src/__mocks__/jobsApi/handlers.js
  src/__mocks__/jobsApi/server.js
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.test.jsx
Due: eslint --fix

test: add some app tests for specific pages
  src/App.test.jsx
  src/components/layout/Header/Header.jsx
  src/utils/helpers/test-utils.jsx
  src/views/Home/SearchForm/SearchForm.jsx
Due: eslint --fix

test: add app tests related to navigation between pages
  src/App.test.jsx
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.jsx
Due: eslint --fix

test: add home page tests
  src/views/Home/HomePage/HomePage.test.jsx
Due: eslint --fix

test: add job page tests
  src/services/api/JobsAPI.js
  src/views/Job/JobPage/JobPage.jsx
  src/views/Job/JobPage/JobPage.test.jsx
Due: eslint --fix

test: add search form tests
  jest.config.js
  src/components/controls/Checkbox/Checkbox.jsx
  src/components/controls/TextField/TextField.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Home/SearchForm/SearchForm.test.jsx
Due: eslint --fix

test: add header test
  src/components/layout/Header/Header.test.jsx
Due: eslint --fix

refactor: remove error logging
  src/store/jobs/jobs.slice.js
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

ci: add testing and publishing coverage
  .github/workflows/ci.yml
  package.json
Due: prettier --write

test: add home page first load tests
  src/services/api/JobsAPI.js
  src/store/jobs/jobs.slice.js
  src/views/Home/HomePage/HomePage.test.jsx
Due: eslint --fix

test: set up jest with react testing library
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yml
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/__mocks__/file.mock.js
  src/__mocks__/jobsApi/browser.js
  src/__mocks__/jobsApi/data.json
  src/__mocks__/jobsApi/handlers.js
  src/index.jsx
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.jsx
Due: eslint --fix, prettier --write

fix: a11y issues in components related to home page
  src/components/content/Feedback/Feedback.jsx
  src/components/controls/Button/Button.jsx
  src/components/controls/Checkbox/Checkbox.jsx
  src/components/controls/TextField/TextField.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix

test: set up home page test
  package-lock.json
  package.json
  src/store/jobs/jobs.slice.js
  src/utils/helpers/test-utils.jsx
  src/views/Home/HomePage/HomePage.test.jsx
  src/views/Home/SearchForm/SearchForm.jsx
  src/views/Job/JobPage/JobPage.jsx
Due: eslint --fix, prettier --write

refactor: export store config as a function
  src/index.jsx
  src/store/index.js
  src/utils/helpers/test-utils.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@2f05f6e8f450fe94679c023cad5000de0e47870e 🚀
  index.html
  js/main.64a868c5243909bd089c.bundle.js
  js/main.64a868c5243909bd089c.bundle.js.map
  js/main.e5e3a982bf2c66ef4d37.bundle.js
  js/main.e5e3a982bf2c66ef4d37.bundle.js.LICENSE.txt
  js/main.e5e3a982bf2c66ef4d37.bundle.js.map
Due: eslint --fix

ci: refactor
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier --write

docs: add readme
  README.md
  TODO.md
Due: prettier --write

fix: matching design
  src/__mocks__/jobsApi/handlers.js
  src/components/layout/Header/Header.jsx
  src/views/Home/JobCard/JobCard.jsx
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/github-jobs@a167b67c1d33de3ab523db86f36676908c10461f 🚀
  index.html
  js/main.2dee7e1b2ad88df7e747.bundle.js
  js/main.2dee7e1b2ad88df7e747.bundle.js.LICENSE.txt
  js/main.2dee7e1b2ad88df7e747.bundle.js.map
  js/main.e5e3a982bf2c66ef4d37.bundle.js
  js/main.e5e3a982bf2c66ef4d37.bundle.js.map
Due: eslint --fix

fix: fem report issues
  README.md
  src/components/controls/TextField/TextField.jsx
  src/template.html
  src/views/Home/HomePage/HomePage.jsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@3b4aa946c5e7c7b60b579474dbeade5903a575d8 🚀
  index.html
  js/main.2dee7e1b2ad88df7e747.bundle.js
  js/main.2dee7e1b2ad88df7e747.bundle.js.map
  js/main.f4c9691a1da8d46163d2.bundle.js
  js/main.f4c9691a1da8d46163d2.bundle.js.LICENSE.txt
  js/main.f4c9691a1da8d46163d2.bundle.js.map
Due: eslint --fix

fix: home page heading levels
  src/views/Home/JobCard/JobCard.jsx
Due: eslint --fix

1.0.0
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ Alex-K1m/github-jobs@f0b6de853ef36e12e2eb3ba62767db665eac090b 🚀
  index.html
  js/main.0de320d6e6c5271bf5c6.bundle.js
  js/main.0de320d6e6c5271bf5c6.bundle.js.LICENSE.txt
  js/main.0de320d6e6c5271bf5c6.bundle.js.map
  js/main.f4c9691a1da8d46163d2.bundle.js
  js/main.f4c9691a1da8d46163d2.bundle.js.map
Due: eslint --fix

build: update webpack config
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write
